* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: linear-gradient(135deg, #f8fafc, #eef2f7);
  color: #2d3748;
}
.container {
  display: flex;
  min-height: 100vh;
}
.left-section {
  flex: 1;
  background: linear-gradient(135deg, #f3e8ff, #e0f2fe);
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-section img {
  width: 85%;
}
.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-box {
  width: 400px;
  background: white;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}
h2 {
  margin-bottom: 10px;
  color: #7c3aed;   /* purple */
}
input, select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background: #f1f5f9;
  border: 1px solid #e2e8f0;
  color: #2d3748;
  border-radius: 10px;
  transition: 0.3s;
}
input:focus, select:focus {
  border-color: #7c3aed;
  outline: none;
  box-shadow: 0 0 8px rgba(124, 58, 237, 0.3);
}
button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(90deg, #7c3aed, #14b8a6);
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.3s;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.link {
  color: #7c3aed;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
}

.link:hover {
  text-decoration: underline;
}
.navbar {
  background: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

.logo {
  color: #7c3aed;
  font-weight: bold;
  font-size: 22px;
}

.profile-icon {
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}

.profile-icon:hover {
  color: #14b8a6;
}


.flight-container {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
}
.flight-card {
  background: white;
  padding: 20px;
  border-radius: 18px;
  transition: 0.3s;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.flight-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.12);
}
.success-message {
  color: #16a34a;
  font-weight: bold;
  font-size: 20px;
}
@media(max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .left-section {
    display: none;
  }
}
